body {
    margin: 0;
    padding: 0;
    background: url('../images/mainbg.jpg');
    background-size: cover;
}

#charsPool {
    background: #fff;
    opacity: 0.8;
    width: 600px;
    height: 275px;
    padding: 25px;
    margin: 0 auto;
    border: #4aaaa5 1px solid;
    border-radius: 2%;
}

.player {
    background: pink;
    border: 1px #000 solid;
    border-radius: 2%;
    font-size: 12px;
}
